fastapi~=0.109.0
python-jose[cryptography]
bcrypt==4.0.1
passlib==1.7.4
python-multipart
sqlalchemy~=2.0.36
psycopg2-binary
redis~=5.2.1
python-dotenv~=1.0.1
alembic~=1.14.0
uvicorn~=0.27.0
pydantic[email]~=2.6.0
pytest~=8.3.4